.footer-text {
    font-size: 10px;
}

.black-opacity {
    color: rgba(0, 0, 0, 0.2);
}

.page-bottom {
    bottom: 0;
}

.width-100 {
    min-width: 100%;
}

textarea {
    resize: none !important;
}

.w-md {
    width: 50% !important;
}

.margin-y {
    margin-top: 10%;
    margin-bottom: 10% !important;
}

@keyframes zoomIn {
    0% {
        display: none;
    }
    100% {
        display: block;
    }
}

#popUp {
    animation-name: zoomIn;
    animation-play-state: paused;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
}

.label {
    width: max-content;
    margin-left: auto;
}

#icon {
    width: max-content;
    padding: 1%;
    margin-left: auto;
    margin-right: 5%;
}

#close {
    color: white !important;
}

.w-md {
    width: 50%;
}

input:active,
input:focus {
    border: none !important;
}

nav ul li .font-small {
    font-size: smaller;
}

@media (max-width: 767.98px) {
    .w-md {
        width: 75% !important;
    }
}

@media (max-width: 575.98px) {
    .long {
        min-width: 250px;
    }
}